* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* root color */
:root {
  --bg-body: #ffffff;
  --bg-effect-color: rgba(114, 118, 231, 0.35);
  --select-bg-color: #DEDEE3;
  --select-color: #9483F8;
  --text-header-color: #E9E9F3;
  --bg-add-button: #9483F8;
  --bg-add-text: #E9E9F3;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --bg-body-todo: #DEDEE3;
  --bg-check-box-not-check: #C1B8F9;
  --bg-check-box-check: #8A7AEC;
  --bg-color-check: #E9E9F3;
  --scrollbar-bg: #7869cc;
  --scrollbar-bg-hover: #584c93;
  --title-to-do: #8A7AEC;
  --description-to-do: #9483F8;
  --time-to-do: #a298de;
  --done-to-do: #AFA6EB;
  --color-action-delete: #E47575;
  --color-action-edit: #5C7CEF;

}

/* default styles */
p,
ul,
li,
div,
span,
ol,
a {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input, textarea {
  border: none;
  outline: none;
  box-shadow: none;
}

::selection {
  background: var(--select-bg-color) !important;
  color: var(--select-color) !important;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 0 0 8px 0;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-bg-hover);
}

/* Body Styles */
body {
  background-color: var(--bg-body);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: Ubuntu, Helvetica, Arial, serif;
}

/* header Styles */
.container-fixed-header {
  background-color: var(--bg-effect-color);
  background-image: url('/images/backGround-header.jpg');
  color: var(--text-header-color);
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 860px;
  height: 160px;

  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--bg-effect-color);
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0 0;
}

.container-header {
  z-index: 1;
  padding: 25px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item-header-title {
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;
}

.item-header {
  margin: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-text {
  font-size: 25px;
  font-weight: bold;
}

.number-tasks {
  font-size: 14px;
}

.date-text {
  font-size: 16px;
  font-weight: bold;
}

.item-header-add {
  display: flex;
  position: absolute;
  bottom: -30px;
  right: 30px;
}

.button-add {
  background-color: var(--bg-add-button);
  color: var(--bg-add-text);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 1px 2px 5px var(--color-shadow);
}

.fa-plus {
  font-size: 25px;
}


/*Body the ToDo*/
.container-body {
  background-color: var(--bg-body-todo);
  border-radius: 0 0 8px 8px;
  width: 860px;
  height: 400px;
  max-height: 400px;
  position: fixed;
  top: 31%;
  left: 50%;
  transform: translate(-50%, 0);
  overflow-y: scroll;
  padding: 50px 40px;
}

.note-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--text-header-color);
  padding: 10px 0;
  margin: 15px 0;
}

.note-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  margin: 0 15px;
}

.fa-check {
  font-size: 12px;
  color: var(--bg-color-check);
}

.container-note {
  display: flex;
  flex-direction: column;
}


.note-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.note-list:hover .actions-note {
  display: flex;
}

.note-list:hover .time-note {
  display: none;
}

.time-note {
  color: var(--time-to-do);
  font-weight: bold;
}

.actions-note {
  display: none;
}

.actions-note .fa-trash {
  color: var(--color-action-delete);
  margin: 0 5px;
}

.actions-note .fa-edit {
  color: var(--color-action-edit)
}


/*note checked*/
.checked-note {
  background-color: var(--bg-check-box-check);
}

.checked-note-body {
  color: var(--done-to-do);
  text-decoration-line: line-through;
}

.un-checked-note {
  background-color: var(--bg-check-box-not-check);
}

.un-checked-note-body {
  color: var(--title-to-do);
}


.modal-overlay {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.modal-body {
  position: absolute;
  z-index: 1500;
  background-color: white;
  height: 350px;
  width: 450px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.modal-close {
  top: 6px;
  right: 6px;
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-hide {
  opacity: 0;
  visibility: hidden;
}

.modal-show {
  opacity: 1;
  visibility: visible;
}

.modal-title {
  text-align: center;
  font-family: Ubuntu, Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 23px;
  color: #8A7AEC;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  margin: 5px 0;
  padding: 5px 0;
}

.form-add-note {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-label {
  width: 90%;
  margin: 0 auto;
}


.form-title, .form-title::placeholder, .form-description {
  width: 100%;
  background: #DFDAFF;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.10);
  border-radius: 5px 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #9483F8;
  padding: 10px 5px;
  margin: 15px auto;
}

.form-description {
  width: 100%;
  height: 125px;
  max-height: 125px;
  min-height: 125px;
}

.form-container-button {
  display: flex;
  width: 90%;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
}

.button-form {
  display: flex;
  background: #9483F8;
  border-radius: 5px 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #f0f0f3;
  padding: 8px 15px;
  transition: all ease 0.4s;
  cursor: pointer;
}

.button-form:hover {
  background: #6a59bb;
}

/*!! media queries */

/* media only screen less than 900px  */
@media only screen and (max-width: 900px) {
  /*  container fixed header */
  .container-fixed-header {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    width: 100%;
    height: 140px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  .container-fixed-header .color-overlay {
    border-radius: 0;
  }

  .container-fixed-header .container-header {
    padding: 20px 15px;
  }

  /*  body todo */
  .container-body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0;
    position: fixed;
    top: 140px;
    left: 0;
    transform: translate(0, 0);
    overflow-y: scroll;
    padding: 30px 10px;
  }

}

/* media only screen less than 280px  */
@media only screen and (max-width: 280px) {
  body {
    min-width: 280px;
  }
}






